# ignore python build files
**build/
**__pycache__
**.c
**dist/
**.egg-info/
**.egg
**.pyc
**.pyo
**.pyd

# ignore test files and folders

# ignore testdata directory
**test*/
**test.*
**test_*
**TEST*/
**test*
**Test*

# ignore data directories
**Data/
**data/
**DATA/

# ignore figure directories
**Fig/
**Figs/
**fig/
**figs/
**figures/
**Figures/

# ignore virtual environments
**/venv/
**/env/
**/.venv/

# sampling methods
**sample_*.py

# todo
**todo

# ignore unittests
**unittest*

# ignore old 
**old/
**old*/
**Old/
**Old*/
**OLD/
**OLD*/

# ignore PolyMC
**PolyMC